{% extends "layouts/main.html" %}

{% block pageTitle %}
  Add new letter – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% set otherPersonInputHtml %}
{{ govukInput({
  id: "other-person-input",
  name: "other-person-input",
  type: "text",
  autocomplete: "off",
  spellcheck: false,
  label: {
    text: "Enter signatory name"
  }
}) }}
{% endset -%}

{% set findPersonHtml %}
<label class="govuk-label">
  Signatory
</label>

<div class="govuk-fieldset govuk-!-margin-bottom-3">
  <select class="govuk-select" name="signatory-name" id="signatory-name">
    <option></option>
    <option value = "Stephen Parkinson">Stephen Parkinson</option>
    <option value = "John Smith">John Smith</option>
    <option value = "Daniel Smith">Daniel Smith</option>
    <option value = "Carla Smith">Carla Smith</option>
    <option value = "Anna Smith">Anna Smith</option>
  </select>
</div>

{% endset -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Who is signing the reply to this letter?
      </h1>

      <form class="form" action="/manage-letters/add-new-letter" method="post">

    

        {{ govukRadios({
          name: "signatoryOtherRadio",
          items: [
            {
              value: "no",
              text: "a CPS employee",
              conditional: {
                html: findPersonHtml
              }
            },

            {
              divider: "or"
            },
            {
              value: "yes",
              text: "another person", 
              hint: {
                text: "for example, they do not work for the CPS or do not appear in the employee directory"
              },
                conditional : {
                html: otherPersonInputHtml
              }
            }
          ]
        }) }}

        {{ govukSelect({
          label: {
            text: "Signatory role",
            isPageHeading: false
            },
          id: "letter-receipt-type",
          name: "letter-receipt-type",
          items: [
          {
            value: "choose",
            text: "Choose receipt type",
            selected: true
          },
            {
              text: "Attorney General or Solicitor General",
              value: "AG/SG"
            },
            {
              text: "Director of Public Prosecutions",
              value: "DPP"
            },
            {
              text: "Director General",
              value: "DG"
            },
            {
              text: "Chief Crown Prosecutor or Deputy Chief Crown Prosecutor",
              value: "CCP/DCCP"
            },
            {
              text: "Head of Complex Casework division",
              value: "Head CCD"
            },
            {
              text: "HQ director",
              value: "HQ director"
            },
            {
              text: "Other",
              value: "Other"
            }
        
          ]
        }) }} 

        {{ govukButton({
          text: "Save and return",
          classes: "govuk-button"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
