{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Record created",
        html: "Reference number is <strong>QC 79.2026</strong>"
      }) }}


      {{ govukRadios({
        name: "what-now",
        fieldset: {
          legend: {
            text: "What do you want to do now?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "go-to-letters",
            text: "Add letters to this record"
          },
          {
            value: "go-to-edit",
            text: "Edit this record"
          },
          {
            divider: "or"
          },
          {
            value: "go-back",
            text: "go back to the Dashboard"
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
