{% extends "layouts/main.html" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set selected = mps[data.selected-mp] %}



{% block pageTitle %}
Create new record - {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{{ data[choose-mp] | dump }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">
        Confirm the representative's details are correct
      </h1>


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: ""
            }
          },
          {
            key: {
              text: "Party affiliation"
            },
            value: {
              text: selected.party
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: selected.addressline1
            },
            actions: {
              items: [
                {
                  href: "/create-new-record/change-mp-address",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Confirm and continue",
        href: "/create-new-record/is-there-constituent"
      }) }}

    </div>
  </div>

{% endblock %}
