{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  <header>
    <div class="govuk-header">
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
          <a href="/" class="govuk-header__homepage-link">
            <span class="govuk-header__logotype govuk-!-font-weight-bold">
            CPS
            </span>
            <span data-expression="" class="govuk-header__logotype"> MP Correspondence</span>
          </a>
        </div>
      </div>
    </div>
  </header>

{{ govukPhaseBanner({
  tag: {
    text: "Prototype",
    classes: "govuk-tag--yellow"
  },
  html: 'This a work in progress prototype. It is not a real service.'
}) }}

{% endblock %}

{% block scripts %}

  {{ super() }}

  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>

{% endblock %}

{% block stylesheets %}

  {{ super() }}

  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/cps.css" rel="stylesheet" type="text/css" />

{% endblock %}